<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3f796194-4c64-473c-90cc-51a448117a70/resourceGroups/museum/providers/Microsoft.Web/sites/museum-ar-server</ResourceId>
    <ResourceGroup>museum</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://museum-ar-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>museum-ar-server.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>museum-ar-server</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$museum-ar-server</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>